.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 100px;
    align-items: center;
    position: relative;
}

.navigation ul{
    gap: 40px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.navItem {
    text-decoration: none;
    color: var(--gray-color);
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s color;
}

.activeNavItem {
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s color;
    text-decoration: none;
    color: var(--extra-accent-color);
}

.navItem:hover {
    color: var(--extra-accent-color);
}

.btns button{
    font-size: 1rem;
    padding: 16px 44px;
    border-radius: 40px;
    background-color: transparent;
    color: var(--white-color);
    border: solid 1.5px var(--dark-gray);
    margin-right: 16px;
    cursor: pointer;
    transition-duration: 0.8s;
    transition-property: border-color box-shadow;
}

.btns button:hover {
    border-color: var(--extra-accent-color);
    box-shadow: 0px 4px 100px 0px #664DFF33;
}

.btns button:last-child {
    margin-right: 0;
}
